.aside{
    border: 2px solid blueviolet;
    height: 100vh;
    flex: 0.2;
    max-width: 230px;
    padding-left: 10px;
    padding-right: 10px;

}
.aside img{
    width: 60px;
    border: 50px;
}
.aside .logotext{
    display: flex;
    flex-direction: row;
    gap: 20px;
}