:root {
    --bgBlack-900: #f2f2fc;
    --bgBlack-100: #fdf9ff;
    --bgBlack-50: #e8dfec;
    --textBlack-700: #504e70;
    --textBlack-900: #302e4d;
    --skinColor: #ec1839;
}
.footer{
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background: var(--bgBlack-900);
  color: #504e70;
  padding: 20px;
}